service: eip-messaging-request-reply

custom:
  variables: ${file(serverless/variables.yml)}
  prune:
    automatic: true
    number: 1

frameworkVersion: '2'

plugins:
  - serverless-pseudo-parameters
  - serverless-prune-plugin

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'local'}
  region: ${opt:region, 'us-east-1'}
  environment: ${file(serverless/env.yml):${self:provider.stage}}
  apiGateway:
    minimumCompressionSize: 1024
  iamRoleStatements:
    - Effect: Allow
      Action:
        - SNS:Publish
        - SNS:Subscribe
      Resource:
      # Requester
        - ${self:custom.variables.request-sns-topic-arn}

      # Replier
        - ${self:custom.variables.reply-sns-topic-arn}
    -
      Effect: Allow
      Action:
        - kms:Decrypt
      Resource: "*"

functions:
  # Requester
  - ${file(serverless/requester/functions/requester.yml)}
  - ${file(serverless/requester/functions/reply.yml)}

  # Replier
  - ${file(serverless/replier/functions/replier.yml)}

resources:
  # Communication bridge
  - ${file(serverless/communication-bridge/resources/aws-kms-key.yml)}
  - ${file(serverless/communication-bridge/resources/aws-sns-requester-topic.yml)}
  - ${file(serverless/communication-bridge/resources/aws-sns-replier-topic.yml)}

  # Requester
  - ${file(serverless/requester/resources/aws-sns-reply-addition-subscription.yml)}
  - ${file(serverless/requester/resources/aws-sqs-reply-addition-queue.yml)}

  # Replier
  - ${file(serverless/replier/resources/aws-sns-request-addition-subscription.yml)}
  - ${file(serverless/replier/resources/aws-sqs-request-addition-queue.yml)}
