service: eip-messaging-request-reply

custom:
  variables: ${file(serverless/variables.yml)}
  prune:
    automatic: true
    number: 1

frameworkVersion: '2'

plugins:
  - serverless-pseudo-parameters
  - serverless-prune-plugin

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'local'}
  region: ${opt:region, 'us-east-1'}
  environment: ${file(serverless/env.yml):${self:provider.stage}}
  apiGateway:
    minimumCompressionSize: 1024
  iamRoleStatements:
    - Effect: Allow
      Action:
        - SNS:Publish
        - SNS:Subscribe
      Resource:
      # Request
        - ${self:custom.variables.request-addition-sns-topic-arn}

      # Reply
        - ${self:custom.variables.reply-addition-sns-topic-arn}

functions:
  # Request
  - ${file(serverless/requester/functions/requester.yml)}
  - ${file(serverless/requester/functions/reply.yml)}

  # Reply
  - ${file(serverless/replier/functions/replier.yml)}

resources:
  # Request
  - ${file(serverless/requester/resources/aws-sns-request-addition-topic.yml)}
  - ${file(serverless/requester/resources/aws-sns-reply-addition-subscription.yml)}
  - ${file(serverless/requester/resources/aws-sqs-reply-addition-queue.yml)}

  # Reply
  - ${file(serverless/replier/resources/aws-sns-reply-addition-topic.yml)}
  - ${file(serverless/replier/resources/aws-sns-request-addition-subscription.yml)}
  - ${file(serverless/replier/resources/aws-sqs-request-addition-queue.yml)}
